body {
  background-image:
    url('../img/back-for-site.jpg');
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      }
h2 {
text-align: center;
}